@import url('https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --lightblue: #46AFCF;
    --darkblue: #03466E;
    --mintgreen: #90EE90;
    --green: #65CDAA;

    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
}

body {
    height: 100vh;
}

.header {
    width: 100%;
    background: var(--lightblue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem;

    i,p {
        display: inline-flex;
        justify-content: center;
        color: var(--white);
        margin: 0 1rem;
        cursor: pointer;
    }

    a {
        font-size: var(--font-size-large);
        list-style: none;
        color: var(--white);
        text-decoration: none;
    }

    a:hover {
        background: var(--darkblue);
        padding: 1rem 0;
    }
}

.main {
    width: 100%;

    .Navbar {
        background-color: var(--white);
        height: 4rem;
        display: flex;
        padding: .5rem 6rem;
        font-family: sans-serif;
        color: var(--white);
        align-items: center;
        box-shadow: #959da533 0px 8px 24px;
    }
    
    img {
        width: 3rem;
        cursor: pointer;
    }

    .Navbar__Link {
        padding: 0 1rem;
        color: var(--black);
        text-decoration: none;
    }

    .Navbar__Link:hover {
        color: var(--darkblue);
    }

    .Navbar__Items {
        display: flex;
        margin-left: 2rem;
        font-weight: bold;
        font-size: var(--font-size-large);
    }

    .Navbar__Link-toggle {
        display: none;
    }

    .active {
        color: var(--darkblue);
    }
        
    @media only screen and (max-width: 768px) {
        .Navbar__Items,
        .Navbar {
            flex-direction: column;
            padding: .5rem;
        }

        .Navbar__Items {
            display:none;
            padding: 0;
        }

        .Navbar__Link {
            line-height: 3rem;
            padding: 0;
            color: var(--darkblue);
        }

        .Navbar__Link:hover {
            background: var(--darkblue);
            color: var(--white);
        }

        .Navbar__ToggleShow {
            width: 100%;
            display: flex;
            margin: 1rem;
            font-size: 20px;
            text-align: center;
        }
                
        .Navbar__Link-toggle {
            align-self: flex-end;
            color: var(--darkblue);
            padding-top: .3rem;
            padding-right: 1rem;
            font-size: 30px;
            display: initial;
            position: absolute;
            cursor: pointer;
        } 
    }
}

.cover {
    background-image: url(/img/cover2.jpg);
    background-size: cover;

    img {
        margin: 10rem 30rem;
    }
}

.cards {
    background-image: url(/img/cover3.jpg);
    background-size: cover;
    padding: 3rem 0;

    .row {
        display: flex;
        padding: 0 4rem;
    }

    .column {
        display: contents;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 18rem;
        border-radius: 10px;
        margin: 3rem 5rem;
        padding: 1rem 1rem;
    }

    h1 {
        font-size: 36px;
        text-transform: uppercase;
        color: var(--darkblue);
        font-weight: bold;
        text-align: center;
        margin: 1rem;
    }

    p {
        font-size: 18px;
        text-align: justify;
    }

    .about {
        margin: 1rem 0;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        align-items: center;
        padding: 0 5rem;

        .about-header {

            h1 {
                font-size: 5em;
                text-transform: uppercase;
                color: var(--darkblue);
                font-weight: bold;
                text-align: center;
                margin: 1rem;
            }

            p {
                font-size: 24px;
                text-align: justify;
            }
        }

        .about-images {

            img {
                width: 35rem;
            }
        }
    }
}

.testimonies {
    background-image: url(/img/img3.png);
    background-size: cover;
    padding: 1rem 1rem;

    h1 {
        font-size: 5em;
        padding: 1rem 1rem;
        text-align: center;
        justify-content: center;
        color: var(--darkblue);
        text-transform: uppercase;
        font-weight: bolder;
    }

    .row {
        display: flex;
        justify-content: center;
        padding: 0 4rem;
    }

    .column {
        display: contents;
    }

    .card {
        width: 18rem;
        height: 25rem;
        border-radius: 10px;
        margin: 1rem 3rem;
        padding: 1rem 1rem;
        box-shadow: #959da533 0px 8px 24px;
    }

    img {
        width: 5rem;
        align-self: center;
    }

    h3 {
        text-align: justify;
        padding: 1rem 0;
        font-size: 1rem;
        margin: 0;
    }

    p {
        text-align: left;
        font-size: 1rem;
        margin: 1rem 0;
    }
}

.footer {
    background: var(--lightblue);
    justify-content: center;
    text-align: center;

    p {
        padding: 1rem 0;
    }
}