@import url('https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --lightblue: #46AFCF;
    --darkblue: #03466E;
    --mintgreen: #90EE90;
    --green: #65CDAA;

    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
}

.header {
    width: 100%;
    background: var(--lightblue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem;

    i,p {
        display: inline-flex;
        justify-content: center;
        color: var(--white);
        margin: 0 1rem;
        cursor: pointer;
    }

    a {
        font-size: var(--font-size-large);
        list-style: none;
        color: var(--white);
        text-decoration: none;
    }

    a:hover {
        background: var(--darkblue);
        padding: 1rem 0;
    }
}

.main {
    width: 100%;

    .Navbar {
        background-color: var(--white);
        height: 4rem;
        display: flex;
        padding: .5rem 6rem;
        font-family: sans-serif;
        color: var(--white);
        align-items: center;
        box-shadow: #959da533 0px 8px 24px;
    }
    
    img {
        width: 3rem;
        cursor: pointer;
    }

    .Navbar__Link {
        padding: 0 1rem;
        color: var(--black);
        text-decoration: none;
    }

    .Navbar__Link:hover {
        color: var(--darkblue);
    }

    .Navbar__Items {
        display: flex;
        margin-left: 2rem;
        font-weight: bold;
        font-size: var(--font-size-large);
    }

    .Navbar__Link-toggle {
        display: none;
    }

    .active {
        color: var(--darkblue);
    }
        
    @media only screen and (max-width: 768px) {
        .Navbar__Items,
        .Navbar {
            flex-direction: column;
            padding: .5rem;
        }

        .Navbar__Items {
            display:none;
            padding: 0;
        }

        .Navbar__Link {
            line-height: 3rem;
            padding: 0;
            color: var(--darkblue);
        }

        .Navbar__Link:hover {
            background: var(--darkblue);
            color: var(--white);
        }

        .Navbar__ToggleShow {
            width: 100%;
            display: flex;
            margin: 1rem;
            font-size: 20px;
            text-align: center;
        }
                
        .Navbar__Link-toggle {
            align-self: flex-end;
            color: var(--darkblue);
            padding-top: .3rem;
            padding-right: 1rem;
            font-size: 30px;
            display: initial;
            position: absolute;
            cursor: pointer;
        } 
    }
}

.contact {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 5rem 10rem;

    img {
        width: 20rem;
    }

    .contact-section {

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: var(--darkblue);
            text-align: center;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--darkblue);
            text-align: center;
            text-transform: uppercase;
        }

        p {
            font-size: 1.5rem;
            color: var(--darkblue);
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }
}

.apps {
    display: flex;
    margin: 1rem 24rem;

    .apps-left,
    .apps-right {
        display: inline-grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: bolder;
        text-transform: uppercase;
        color: var(--darkblue);
        margin: 0;
    }
}

.details {

    p {
        margin-top: 1rem;
        font-size: 20px;
        font-style: italic;
        text-align: center;
    }
}

.download {
    margin: 3rem 40rem;

    a {
        background: var(--darkblue);
        padding: 1rem 3rem;
        color: var(--white);
        text-decoration: none;
        border-radius: 10px;
        transition: .5s;
    }

    a:hover {
        background: var(--black);
        color: var(--white);
        text-decoration: none;
    }
}

.footer {
    background: var(--lightblue);
    justify-content: center;
    text-align: center;

    img {
        width: 4rem;
        padding: 1rem 0;
    }
}