@import url('https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #FFFFFF;
    --lightblue: #46AFCF;
    --darkblue: #03466E;
    --lightgreen: #90EE90;
}

#info {
    background: var(--lightblue);
    padding: 2rem 2rem;

    .info-groups {
        margin-left: 27rem;
        color: var(--white);
        cursor: pointer;
    }

    .info-group1 {
        float: left;
        margin-top: -.8rem;
    }

    h6 {
        margin-left: 2rem;
        margin-top: -1.5rem;
    }
    .info-group2 {
        margin-left: 20rem;
        margin-top: -1.7rem;
    }
}

.icons {
    margin-top: -2.1rem;
    margin-left: 35rem;

    a {
        color: var(--white);
        font-size: 24px;
        padding: 1.5rem 1rem;
    }

    a:hover {
        background: var(--darkblue);
        color: var(--white);
    }
}

#navbar {
    background: var(--white);
    box-shadow: 0 3px 10px #00000033;
    padding: 1rem 2rem;

    img {
        width: 5rem;
        margin: .5rem 2rem;
        margin-left: 15rem;
    }

    i {
        display: none;
    }

    .nav_list {
        margin-top: -1rem;
    }

    ul {
        margin-left: 20rem;
        margin-top: -4.4rem;
    }

    li {
        float: left;
        padding: 1rem 1rem;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--black);
        font-weight: bolder;
        transition: .5s;
    }

    a:hover {
        color: var(--darkblue);
    }

    .active {
        color: var(--darkblue);
    }
}

.contact {

    a {
        color: var(--black);
        text-decoration: none;
    }

    a:hover {
        color: var(--black);
        text-decoration: none;
    }

    h1 {
        font-weight: bolder;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 5rem;
        color: var(--darkblue);
    }

    h3 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--darkblue);
        margin-top: 2rem;
    }

    p {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
}

.image1 {

    img {
        width: 20rem;
        margin-top: -30rem;
        margin-left: 10rem;
    }
}

.image2 {

    img {
        width: 20rem;
        margin-top: -30rem;
        margin-left: 65rem;
    }
}

.row {

    h3 {
        margin-left: 25rem;
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--darkblue);
    }

    img {
        margin-left: 18rem;
    }
}

.details {

    p {
        margin-top: 3rem;
        font-size: 20px;
        font-style: italic;
        text-align: center;
    }
}

.download {
    margin-top: 3rem;
    margin-left: 42rem;

    a {
        background: var(--darkblue);
        padding: 1rem 3rem;
        color: var(--white);
        text-decoration: none;
        border-radius: 10px;
        transition: .5s;
    }

    a:hover {
        background: var(--black);
        color: var(--white);
        text-decoration: none;
    }
}

.footer {
    background: var(--lightblue);
    margin-top: 5rem;
    padding: 1rem 3rem;

    h1 {
        font-size: 25px;
        padding-top: 1rem;
        font-weight: bolder;
        color: var(--white);
    }

    h2 {
        float: right;
        font-size: 25px;
        margin-top: -2.5rem;
        font-weight: bolder;
        color: var(--white);
    }

    img {
        width: 5rem;
        margin-top: -4.5rem;
        margin-left: 43rem;
    }
}