@import url("https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --lightblue: #46AFCF;
  --darkblue: #03466E;
  --mintgreen: #90EE90;
  --green: #65CDAA;
  --font-size-large: large;
  --font-size-medium: medium;
  --font-size-small: small;
}

.header {
  width: 100%;
  background: var(--lightblue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}
.header i, .header p {
  display: inline-flex;
  justify-content: center;
  color: var(--white);
  margin: 0 1rem;
  cursor: pointer;
}
.header a {
  font-size: var(--font-size-large);
  list-style: none;
  color: var(--white);
  text-decoration: none;
}
.header a:hover {
  background: var(--darkblue);
  padding: 1rem 0;
}

.main {
  width: 100%;
}
.main .Navbar {
  background-color: var(--white);
  height: 4rem;
  display: flex;
  padding: 0.5rem 6rem;
  font-family: sans-serif;
  color: var(--white);
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main img {
  width: 3rem;
  cursor: pointer;
}
.main .Navbar__Link {
  padding: 0 1rem;
  color: var(--black);
  text-decoration: none;
}
.main .Navbar__Link:hover {
  color: var(--darkblue);
}
.main .Navbar__Items {
  display: flex;
  margin-left: 2rem;
  font-weight: bold;
  font-size: var(--font-size-large);
}
.main .Navbar__Link-toggle {
  display: none;
}
.main .active {
  color: var(--darkblue);
}
@media only screen and (max-width: 768px) {
  .main .Navbar__Items,
.main .Navbar {
    flex-direction: column;
    padding: 0.5rem;
  }
  .main .Navbar__Items {
    display: none;
    padding: 0;
  }
  .main .Navbar__Link {
    line-height: 3rem;
    padding: 0;
    color: var(--darkblue);
  }
  .main .Navbar__Link:hover {
    background: var(--darkblue);
    color: var(--white);
  }
  .main .Navbar__ToggleShow {
    width: 100%;
    display: flex;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
  }
  .main .Navbar__Link-toggle {
    align-self: flex-end;
    color: var(--darkblue);
    padding-top: 0.3rem;
    padding-right: 1rem;
    font-size: 30px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.masterclass {
  display: flex;
  margin: 3rem 10rem;
}
.masterclass h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkblue);
  text-align: center;
  margin: 1rem 0;
}
.masterclass img {
  width: 20rem;
}
.masterclass p {
  font-size: 18px;
  text-align: justify;
  margin: 1rem 0;
}

.packages {
  margin: 0 10rem;
}
.packages h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkblue);
  text-align: left;
  margin: 1rem 0;
}
.packages .package-left,
.packages .package-right {
  display: inline-grid;
  grid-template-columns: 1fr;
  padding: 0 1rem;
}
.packages p {
  font-size: 18px;
  text-align: justify;
  margin: 1rem 0;
}
.packages h3 {
  color: var(--darkblue);
  font-weight: bold;
}

.freetrial {
  display: flex;
  margin: 0 10rem;
  justify-content: center;
  grid-template-columns: 1fr;
  column-gap: 2rem;
}
.freetrial h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkblue);
  text-align: left;
  margin: 1rem 0;
}
.freetrial img {
  width: 20rem;
}
.freetrial p {
  font-size: 18px;
  text-align: justify;
  margin: 1rem 0;
}
.freetrial b {
  font-size: 1.5rem;
  color: var(--darkblue);
}

.advantages {
  display: flex;
  margin: 0 10rem;
  justify-content: center;
  grid-template-columns: 1fr;
  column-gap: 2rem;
}
.advantages h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkblue);
  text-align: left;
  margin: 1rem 0;
}
.advantages img {
  width: 20rem;
}
.advantages p {
  font-size: 18px;
  text-align: justify;
  margin: 1rem 0;
}
.advantages b {
  font-size: 1.5rem;
  color: var(--darkblue);
}

.reasons {
  text-align: center;
  margin: 0 10rem;
}
.reasons h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--darkblue);
  margin: 1rem 0;
}
.reasons p {
  font-size: 18px;
  text-align: justify;
  margin: 1rem 0;
}

.footer {
  background: var(--lightblue);
  justify-content: center;
  text-align: center;
}
.footer img {
  width: 4rem;
  padding: 1rem 0;
}