@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "./media-query/laptop.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --lightblue: #46AFCF;
    --darkblue: #03466E;
    --mintgreen: #90EE90;
    --green: #65CDAA;

    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
}

.header {
    width: 100%;
    background: var(--lightblue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;

    i,p {
        display: inline-flex;
        justify-content: center;
        color: var(--white);
        margin: 0 1rem;
        cursor: pointer;
    }

    a {
        font-size: var(--font-size-large);
        list-style: none;
        color: var(--white);
        text-decoration: none;
    }

    a:hover {
        background: var(--darkblue);
        padding: 1rem 0;
    }
}

.main {
    width: 100%;

    .Navbar {
        background-color: var(--white);
        display: flex;
        padding: .5rem 6rem;
        font-family: sans-serif;
        color: var(--white);
        align-items: center;
    }
    
    img {
        width: 3rem;
        cursor: pointer;
    }

    .Navbar__Link {
        padding: 0 1rem;
        color: var(--black);
        text-decoration: none;
    }

    .Navbar__Link:hover {
        color: var(--darkblue);
    }

    .Navbar__Items {
        display: flex;
        margin-left: 2rem;
        font-weight: bold;
        font-size: var(--font-size-large);
    }

    .Navbar__Link-toggle {
        display: none;
    }

    .active {
        color: var(--darkblue);
    }
        
    @media only screen and (max-width: 768px) {
        .Navbar__Items,
        .Navbar {
            flex-direction: column;
            padding: .5rem;
        }

        .Navbar__Items {
            display:none;
            padding: 0;
        }

        .Navbar__Link {
            line-height: 3rem;
            padding: 0;
            color: var(--darkblue);
        }

        .Navbar__Link:hover {
            background: var(--darkblue);
            color: var(--white);
        }

        .Navbar__ToggleShow {
            width: 100%;
            display: flex;
            margin: 1rem;
            font-size: 20px;
            text-align: center;
        }
                
        .Navbar__Link-toggle {
            align-self: flex-end;
            color: var(--darkblue);
            padding-top: .3rem;
            padding-right: 1rem;
            font-size: 30px;
            display: initial;
            position: absolute;
            cursor: pointer;
        } 
    }
}

.cover {
    background-image: url(/img/cover1.jpg);
    background-size: cover;

    .cover-background {

        img {
            position: absolute;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    .cover-details {
        justify-content: center;
        padding: 5rem 5rem;
        text-align: center;

        img {
            width: 25%;
        }

        h1 {
            font-family: 'Allura',sans-serif;
            font-size: 6rem;
            font-weight: bolder;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }
    }

    .cover-btn {
        display: inline-flex;
        justify-content: center;
        padding: 1rem 3rem;
        margin-top: 1rem;
        background: var(--darkblue);
        color: var(--white);
        font-size: var(--font-size-large);
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;

        a {
            text-decoration: none;
            color: var(--white);
        }

        a:hover {
            color: var(--white);
        }
    }

    .cover-btn:hover {
        background: var(--black);
        color: var(--black);
    }
}

.services {
    width: 100%;
    background-image: url(/img/cover4.svg);
    background-size: cover;
    height: auto;

    .services-header {
        padding: 1rem 1rem;
        text-align: center;
        justify-content: center;

        h1 {
            font-size: 48pt;
            font-weight: bolder;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }

        p {
            font-size: 18pt;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }
    }

    .services-details {

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 10rem;
        }

        .column {
            display: contents;
        }

        .card {
            width: 18rem;
            height: 18rem;
            padding: 1rem 1rem;
            margin: 1rem 1rem;
            text-align: center;
            background: transparent;
            border: none;

            i {
                font-size: 3rem;
                color: var(--darkblue);
            }

            h2 {
                font-size: 24pt;
                font-weight: bolder;
                color: var(--darkblue);
                margin: 1rem 0;
            }

            p {
                font-size: 14pt;
                color: var(--darkblue);
            }
        }
    }
}

.class {

    .class-header {
        padding: 1rem 1rem;
        text-align: center;
        justify-content: center;

        h1 {
            font-size: 48pt;
            font-weight: bolder;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }

        p {
            font-size: 18pt;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }
    }

    .class-course {
        justify-content: center;

        video {
            justify-content: center;
            width: 50%;
            margin: 0 25%;
        }
    }
}

.promotion {
    background-image: url(/img/img3.png);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem 1rem;
    background-size: cover;

    .promotion-header-left {
        text-align: center;
        margin: 0 3rem;

        h1 {
            font-size: 28pt;
            font-weight: bolder;
            text-transform: uppercase;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }

        p {
            font-size: 18pt;
            color: var(--darkblue);
            margin-bottom: 1rem;
        }

        .btn-about {
            display: inline-flex;
            justify-content: center;
            padding: 1rem 3rem;
            background: var(--darkblue);
            color: var(--white);
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            a {
                text-decoration: none;
                color: var(--white);
            }

            a:hover {
                color: var(--white);
            }
        }

        .btn-about:hover {
            background: var(--black);
            color: var(--black);
        }
    }

    .promotion-image-right {

        img {
            width: 75%;
        }

    }
}

.footer {
    background: var(--lightblue);
    justify-content: center;
    text-align: center;

    img {
        width: 4rem;
        padding: 1rem 0;
    }
}