:root {
  --black: #000000;
  --white: #FFFFFF;
  --lightblue: #46AFCF;
  --darkblue: #03466E;
  --mintgreen: #90EE90;
  --green: #65CDAA;
  --font-size-large: large;
  --font-size-medium: medium;
  --font-size-small: small;
}

@media all and (max-width: 1025px) and (min-width: 768px) {
  .main .Navbar {
    padding: 0;
  }
  .main .Navbar__Items {
    margin: 0;
    font-size: 14px;
    z-index: 1;
    background: var(--lightblue);
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .main .Navbar__Link {
    color: var(--white);
  }
  .main .active {
    color: var(--darkblue);
  }
  .header {
    justify-content: center;
    padding: 1rem 7.5rem;
    font-size: var(--font-size-medium);
  }
  .main .Navbar .Navbar__Items {
    font-size: var(--font-size-medium);
  }
  .cover .cover-details {
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
  }
  .cover .cover-details img {
    width: 25%;
  }
  .cover .cover-btn {
    font-size: var(--font-size-medium);
  }
  .promotion {
    display: block;
    padding: 1rem 0;
  }
  .promotion .promotion-image img {
    width: 100%;
  }
  .cover .cover-details img {
    width: 10rem;
  }
  .cover .cover-details h1 {
    font-size: 3rem;
  }
  .services .services-header h1 {
    font-size: 36pt;
  }
  .services .services-header p {
    font-size: 16pt;
  }
  .services .services-details .row {
    margin: 0 2rem;
  }
  .class .class-header h1 {
    font-size: 36pt;
  }
  .class .class-header p {
    font-size: 16pt;
  }
  .promotion {
    display: block;
    padding: 1rem 1rem;
    justify-content: center;
  }
  .promotion .promotion-header-left {
    margin: 2rem 2rem;
  }
  .promotion .promotion-header-left h1 {
    font-size: 36pt;
  }
  .promotion .promotion-header-left p {
    font-size: 16pt;
  }
  .promotion .promotion-header-left .btn-about {
    font-size: var(--font-size-medium);
  }
  .promotion .promotion-image-right img {
    width: 100%;
  }
}
@media all and (max-width: 768px) and (min-width: 426px) {
  .main .Navbar {
    padding: 0;
  }
  .main .Navbar__Items {
    margin: 0;
    font-size: 14px;
    z-index: 1;
    background: var(--lightblue);
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .main .Navbar__Link {
    color: var(--white);
  }
  .main .active {
    color: var(--darkblue);
  }
  .header {
    text-align: center;
  }
  .header i, .header p {
    font-size: var(--font-size-small);
  }
  .Navbar .Navbar__Items {
    font-size: var(--font-size-small);
  }
  .cover .cover-btn a {
    font-size: var(--font-size-small);
  }
  .promotion .promotion-header-left .btn-about {
    font-size: var(--font-size-small);
  }
}
@media all and (max-width: 426px) and (min-width: 376px) {
  .main .Navbar {
    padding: 0;
  }
  .main .Navbar__Items {
    margin: 0;
    font-size: 14px;
    z-index: 1;
    background: var(--lightblue);
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .main .Navbar__Link {
    color: var(--white);
  }
  .main .active {
    color: var(--darkblue);
  }
  .header {
    padding: 1rem 3rem;
    text-align: center;
  }
  .header i, .header p {
    font-size: var(--font-size-medium);
  }
  .cover .cover-details {
    padding: 3rem 0;
  }
  .cover .cover-details img {
    width: 10rem;
  }
  .cover .cover-details h1 {
    font-size: 3rem;
  }
  .cover .cover-details .cover-btn {
    padding: 0.5rem 2rem;
  }
  .cover .cover-details .cover-btn a {
    font-size: var(--font-size-medium);
  }
  .services .services-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .services .services-header h1 {
    font-size: 4rem;
  }
  .services .services-details .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }
  .class {
    justify-content: center;
  }
  .class .class-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .class .class-header h1 {
    font-size: 3rem;
  }
  .class .class-header p {
    font-size: 1.5rem;
  }
  .class .class-course video {
    width: 100%;
    margin: 0;
  }
  .promotion {
    display: block;
    padding: 1rem 1rem;
    justify-content: center;
  }
  .promotion .promotion-header-left {
    margin: 1rem 0;
  }
  .promotion .promotion-header-left h1 {
    font-size: 3rem;
  }
  .promotion .promotion-header-left p {
    font-size: 1.5rem;
  }
  .promotion .promotion-header-left .btn-about {
    padding: 0.5rem 3rem;
  }
  .promotion .promotion-image-right img {
    width: 100%;
  }
}
@media all and (max-width: 376px) and (min-width: 321px) {
  .main .Navbar {
    padding: 0;
  }
  .main .Navbar__Items {
    margin: 0;
    font-size: 14px;
    z-index: 1;
    background: var(--lightblue);
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .main .Navbar__Link {
    color: var(--white);
  }
  .main .active {
    color: var(--darkblue);
  }
  .header {
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: var(--font-size-small);
  }
  .header i, .header p {
    font-size: var(--font-size-medium);
  }
  .cover .cover-details {
    padding: 3rem 1rem;
  }
  .cover .cover-details img {
    width: 10rem;
  }
  .cover .cover-details h1 {
    font-size: 3rem;
  }
  .cover .cover-details .cover-btn {
    margin-top: -2rem;
    padding: 0.5rem 2rem;
  }
  .cover .cover-details .cover-btn a {
    font-size: 12px;
  }
  .services {
    justify-content: center;
  }
  .services .services-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .services .services-header h1 {
    font-size: 36pt;
    font-weight: bolder;
  }
  .services .services-header p {
    font-size: 16pt;
  }
  .services .services-details .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }
  .class {
    justify-content: center;
  }
  .class .class-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .class .class-header h1 {
    font-size: 36pt;
  }
  .class .class-header p {
    font-size: 16pt;
  }
  .class .class-course video {
    width: 100%;
    margin: 0;
  }
  .promotion {
    display: block;
    padding: 1rem 1rem;
    justify-content: center;
  }
  .promotion .promotion-header-left {
    margin: 1rem 0;
  }
  .promotion .promotion-header-left h1 {
    font-size: 36pt;
  }
  .promotion .promotion-header-left p {
    font-size: 16pt;
  }
  .promotion .promotion-header-left .btn-about {
    padding: 0.5rem 3rem;
  }
  .promotion .promotion-image-right img {
    width: 100%;
  }
}
@media all and (max-width: 321px) {
  .main .Navbar {
    padding: 0;
  }
  .main .Navbar__Items {
    margin: 0;
    font-size: 14px;
    z-index: 1;
    background: var(--lightblue);
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .main .Navbar__Link {
    color: var(--white);
  }
  .main .active {
    color: var(--darkblue);
  }
  .header {
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 12px;
  }
  .cover {
    height: auto;
  }
  .cover .cover-details {
    padding: 2rem 0;
  }
  .cover .cover-details img {
    width: 8rem;
  }
  .cover .cover-details h1 {
    font-size: 3rem;
  }
  .cover .cover-details .cover-btn {
    margin-top: -3rem;
    padding: 0.5rem 2rem;
  }
  .cover .cover-details .cover-btn a {
    font-size: var(--font-size-small);
  }
  .services {
    justify-content: center;
  }
  .services .services-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .services .services-header h1 {
    font-size: 24pt;
  }
  .services .services-header p {
    font-size: 14pt;
  }
  .services .services-details .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }
  .class {
    justify-content: center;
  }
  .class .class-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  .class .class-header h1 {
    font-size: 24pt;
  }
  .class .class-header p {
    font-size: 14pt;
  }
  .class .class-course video {
    width: 100%;
    margin: 0;
  }
  .promotion {
    display: block;
    padding: 1rem 1rem;
    justify-content: center;
  }
  .promotion .promotion-header-left {
    margin: 1rem 0;
  }
  .promotion .promotion-header-left h1 {
    font-size: 24pt;
  }
  .promotion .promotion-header-left p {
    font-size: 14pt;
  }
  .promotion .promotion-header-left .btn-about {
    padding: 0.5rem 3rem;
  }
  .promotion .promotion-image-right img {
    width: 100%;
  }
}