@media all and (max-width: 1025px) and (min-width: 768px) {
    .header {
        justify-content: center;
        padding: 1rem 7.5rem;
    }

    .navigation {
        justify-content: center;
        padding: 1rem 1rem;
    }

    .cover {

        .cover-details {
            justify-content: center;
            padding: 1rem 5rem;
            text-align: center;

            img {
                width: 25%;
            }
        }
    }

    .promotion {
        display: block;
        padding: 1rem 0;

        .promotion-image {

            img {
                width: 100%;
            }
        }
    }

    .cover {

        .cover-details {
            padding: 1rem 5rem;

            img {
                width: 10rem;
            }

            h1 {
                font-size: 3rem;
            }
        }
    }

    .promotion {
        display: block;
        padding: 1rem 1rem;
        justify-content: center;

        .promotion-header-left {
            margin: 2rem 2rem;
        }

        .promotion-image-right {

            img {
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 426px) and (min-width: 376px) {
    .header {
        padding: 1rem 2rem;
        text-align: center;
    }

    .cover {

        .cover-details {
            padding: 1rem 0;

            h1 {
                font-size: 2.5rem;
            }

            .cover-btn {
                margin-top: -2rem;
                padding: .5rem 2rem;

                a {
                    font-size: 12px;
                }
            }
        }
    }

    .services {
        margin-top: .2rem;

        .services-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 4rem;
            }
        }

        .services-details {

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
            }
        }
    }

    .class {
        justify-content: center;

        .class-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .class-course {

            video {
                width: 100%;
                margin: 0;
            }
        }
    }

    .promotion {
        display: block;
        padding: 1rem 1rem;
        justify-content: center;

        .promotion-header-left {
            margin: 1rem 0;

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
            }

            .btn-about {
                padding: .5rem 3rem;
            }
        }

        .promotion-image-right {

            img {
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 376px) and (min-width: 321px) {
    .header {
        padding: 1rem .5rem;
        text-align: center;
        font-size: small;
    }

    .cover {

        .cover-details {
            padding: 1rem 1rem;

            img {
                width: 5rem;
            }

            h1 {
                font-size: 2rem;
            }

            .cover-btn {
                margin-top: -2rem;
                padding: .5rem 2rem;

                a {
                    font-size: 12px;
                }
            }
        }
    }

    .services {
        justify-content: center;

        .services-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 3rem;
                font-weight: bolder;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .services-details {

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
            }
        }
    }

    .class {
        justify-content: center;

        .class-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .class-course {

            video {
                width: 100%;
                margin: 0;
            }
        }
    }

    .promotion {
        display: block;
        padding: 1rem 1rem;
        justify-content: center;

        .promotion-header-left {
            margin: 1rem 0;

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.1rem;
            }

            .btn-about {
                padding: .5rem 3rem;
            }
        }

        .promotion-image-right {

            img {
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 321px) {
    .header {
        padding: .5rem .5rem;
        text-align: center;
        font-size: 12px;
    }

    .cover {
        height: auto;

        .cover-details {
            padding: 1rem 0;

            img {
                width: 5rem;
            }

            h1 {
                font-size: 1.5rem;
            }

            .cover-btn {
                margin-top: -3rem;
                padding: .5rem 2rem;

                a {
                    font-size: 12px;
                }
            }
        }
    }

    .services {
        justify-content: center;

        .services-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.1rem;
            }
        }

        .services-details {

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
            }
        }
    }

    .class {
        justify-content: center;

        .class-header {
            padding: 1rem 1rem;
            text-align: center;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .class-course {

            video {
                width: 100%;
                margin: 0;
            }
        }
    }

    .promotion {
        display: block;
        padding: 1rem 1rem;
        justify-content: center;

        .promotion-header-left {
            margin: 1rem 0;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1.1rem;
            }

            .btn-about {
                padding: .5rem 3rem;
            }
        }

        .promotion-image-right {

            img {
                width: 100%;
            }
        }
    }
}